* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    display: flex;
    align-items: center;
    background-color:#090722;
    width: 100%;
    justify-content: flex-end;
    padding: 20px 2%;
    position: fixed;

    z-index: 2;

}

header .logo {
    height: 50px;
    right: auto;
    margin-right: auto;
}

header h1 {
    color: white;
    font-size: 30px;
    cursor: pointer;
    margin-right: auto;
    font-family: 'Karla', sans-serif;
}


.nav-list {
    list-style: none;


}

.nav-list li {
    display: inline-block;
    padding-left: 50px;

}

.nav-list li a {
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    color: white;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}

li a .active,
li a:hover {
    border: 1px solid white;
    transition: .5s;
}





section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px 100px;
    height: 100vh;
}

section .bg {
    margin-top: 100px;
    max-width: 700px;
    float: left;
}

#home .container h1 {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 50px;
    color: #d63031;
}

#home {
    height: auto;
    position: relative;
    top: 50px;


}

#home .container {}

span {
    line-height: 50px;

    color: white;
    text-transform: uppercase;
    background-color: #2f3542;
    padding: 7px 10px;
    border-radius: 5px;
    cursor: pointer;

}

#home .container h1,
p {
    font-family: 'Play', sans-serif;
    color: #57606f;
}

span:hover {
    background-color: black;
}

/* animasi */
.container .ml15 {
    font-weight: 800;
    font-size: 3.8em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

.container .ml15 .word {
    display: inline-block;
    line-height: 1em;
}

/* -----------Project-------------- */

#project {
    height: auto;
    position: relative;
    top: 50px;
    background-color: #2f3542;
    text-align: center;
    margin-bottom: 50px;
}

.section-title {
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  text-align: center;

}

.section-title h2 {
  font-weight: bold;
  font-family: 'Pathway Gothic One', sans-serif ;
  font-size: 30px;
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 20px;
 
}

.section-title p {
  font-weight: normal;
  color: white;
  
 
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #aabbd7;
  bottom: 0;
  left: calc(50% - 25px);
}

.lesson {

    float: left;
    width: 25%;
    padding: 0px 20px;
    font-family: 'Play', sans-serif;
    color: #57606f;
}

.lesson-lesson{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    
}

.lesson-lesson:hover {
    
    transform: scale(1.09);
    cursor: default;

}


.lesson h4 {
   
    margin: 20px 0px;
    color: #2f3542;
}

.lesson h4:hover {
    color: #4e6fa4;
}

.txt-contents {
   
  width: 100%;
  display: inline-block;  
  font-size: 15px;
  
}

.heading h3 {
  font-weight: normal;
}


.lesson-img {
  width: 40%;
  color: white;
    
}

/* AwalFooter */
footer {
    background-color: #090722;
    height: 23vh;
}

footer .container {

    padding: 30px;
    display: flex;
    color: white;
    justify-content: flex-start;
    align-items: flex-start;

}

footer .container .logo {
   width: 100px;
    height: 50px;
    right: auto;
}

footer h2 {
    font-size: 10px;
}



.container-footer {
    width: 100%;
    left: 200px;
    text-align: center;

}

.list-footer ul {
    list-style: none;
}

.list-footer ul li a {
    text-decoration: none;
    color: white;
    font-size: 10px;
}

.list-footer {
    float: left;
    width: 20%;
    margin-left: 150px;
}

.isi-footer {
    position: relative;

}

footer p,
a {
    text-align: center;
    color: white;
    list-style: none;
    text-decoration: none;
    font-size: 12px;
}
/* Akhir Footer */
